
Active user is {{request.user}}
<h1>
	{{question.title}}
</h1>
<p>
	{{question.text}}
</p>
<p>Question added {{question.added_at}} by author: {{question.author}}</p>

<p>Likes {{question.likes}} and rating {{question.rating}}</p>


<h2>Answers:</h2>
<ul>
	{% for answer in answers %}
		<li>{{answer.text}} add by {{answer.author}}</li>
	{% endfor %}
</ul>

<h2>
	Add your answer below:
</h2>
{% for e in form.non_field_errors %}
	<div class="alert alert-danger">{{ e }}</div>
{% endfor %}
<form class="form-horizontal" method="post" action="{{question.get_absolute_url}}">
	{% csrf_token %}

	<fieldset>
		{% for field in form %}
		<div class="control-group
			{% if field.errors %}has-error{% endif %}">
			<label class="control-label">{{ field.label }}</label>
			<div class="controls">{{ field }}</div>
		</div>
		{% endfor %}
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary"> Add answer</button>
	</div>
</form>
